@import-normalize;

.App {
  text-align: center;
}

.todo-list {
  max-width: 20rem;

  .todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    p {
      color: #3e4551;
    }

    &.completed p {
      text-decoration: line-through;
      color: #888;
    }
  }
}